@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 16px 15%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

a {
    text-decoration-line: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding: 16px 15%;
    padding-top: 65px;
}

.hero-left {
    width: 450px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 30px; 
    margin-top: 12px;
}

#hero-img {
    height: 200px;
    width: 500px;
}

.random-image {
    width: 170px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.random {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

figcaption {
    width: 170px;
    text-align: center;
    color: gray;
    font-size: 17px;
}

#random-information {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 30px 0;
}

.inspiring-quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    padding-left: 540px;
    padding-right: 540px;
    padding-top: 100px;
    padding-bottom: 60px;
    min-width: 820px;
    margin-bottom: 80px;
}

#signature {
    font-weight: bold;
    font-size: 24px;
    padding-left: 550px;
}

.action-div {
    display: flex;
    justify-content: center;
}

.call-to-action {
    width: 1000px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    margin-bottom: 80px;
}

.action-header {
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.action-subtext {
    color: #e5e7eb;
    margin-top: 0;
}

.action-signup {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 24px 0;
}